receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  prometheus:
    config:
      scrape_configs:
        - job_name: kong-cp
          scrape_interval: 5s
          static_configs:
            - targets:
                - kong-cp:8100
        - job_name: otel-collector
          scrape_interval: 5s
          static_configs:
            - targets:
                - otel-collector:8888
        - job_name: prometheus
          static_configs:
            - targets:
                - localhost:9090
        - job_name: tempo
          static_configs:
            - targets:
                - tempo:3200

processors:
  batch:

exporters:
  otlphttp/tempo:
    endpoint: http://tempo:4318
    tls:
      insecure: true
  prometheus:
    endpoint: 0.0.0.0:8889
  otlphttp/loki:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/tempo]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/loki]
